<h2 class="mt-4"><%= @deck.title %></h2>
<p>Password required to access this deck.</p>

<%= form_for @conn, deck_path(@conn, :verify), [as: :deck, class: "mt-4"], fn f-> %>
  <%= hidden_input f, :id, value: @deck.id %>

  <div class="form-group">
    <%= label f, :password %>
    <%= password_input f, :password, class: "form-control" %>
  </div>

  <%= submit "Go", class: "btn btn-primary" %>
<% end %>
